.container {
  margin: $container-margin-top-bottom $container-margin-right-left;
  max-width: $container-max-width;
  padding: $container-padding-top-bottom $container-padding-right-left;
}

// TODO: add columns for each size and different breakpoints, use mixins where possible
