.container {
  background: #999999;
  margin: $container-margin-top-bottom $container-margin-right-left;
  max-width: $container-max-width;
  padding: $container-padding-top-bottom $container-padding-right-left;
}

.row {
  margin: $row-margin-top-bottom $row-margin-right-left;

  ::after {
    clear: both;
    content: '';
    display: block;
  }
}

[class*='col-'] { // sass-lint:disable-line no-attribute-selectors
  @include column;
  width: 100%;
}
// TODO: add columns for each size and different breakpoints, use mixins where possible
