// grid column
$column-total-number: 12;
$column-base-width: (100% / $column-total-number);
$column-min-height: .1rem;
$column-padding-top-bottom: 0;
$column-padding-right-left: 1.5rem;

// grid container
$container-padding-right-left: 1.5rem;
$container-padding-top-bottom: 0;
$container-margin-right-left: auto;
$container-margin-top-bottom: 0;
$container-max-width: 114rem;

// grid row
$row-margin-right-left: -1.5rem;
$row-margin-top-bottom: 1.5rem;

// colors
$color-black: #000000;

// font sizes
$font-size-medium: 16px;
