@mixin column($size) {
  background-color: #9C4D4D;
  float: left;
  min-height: $column-min-height;
  padding: $column-padding-top-bottom $column-padding-right-left;
  width: $column-base-width * $size;
}

@mixin column-offset($size) {
  margin-left: $column-base-width * $size;
}
